@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('/public/fonts/Nunito-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
      url('/public/fonts/Nunito-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
      url('/public/fonts/Nunito-ExtraBold.woff2') format('woff2');
}
