.header {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 24px;
  padding-bottom: 30px;
  color: white;
  background-color: #fff;

  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center -70%;
    background-size: 140%;
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lawngreen;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.header__title-white {
  color: #fff;
}

.header__title-red {
  color: #ff5c00;
}


.header__description {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.header__price {
  font-weight: 600;
  font-size: 14px;
}


.header__logo {
  color: #fff;
}
